<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.zyj.ssm.dao.InputMapper">
	<!-- 查询所有数据 -->
	<select id="selectAllInput" resultType="input">
		select * from t_input
	</select>
	
	<!-- 插入数据 -->
	<insert id="insertInput" parameterType="input">
		insert into t_input values(null,#{name},#{pcount},#{dprice},#{price},#{annt},#{pname},current_timestamp())
	</insert>

	<!-- 根据关键字模糊查询 -->
	<select id="selectInputByKeyword" resultType="input" parameterType="proInOutput">
		select * from t_input where 1=1
			<if test="name!='' and name!=null">
				and name=#{name}
			</if>
			<if test="startTime!='' and startTime!=null">
			    <!-- and	inputtime&gt;=#{startTime} -->
			    and DATE_FORMAT(inputtime, '%Y-%m-%d %T:%i:%s') >= DATE_FORMAT(#{startTime}, '%Y-%m-%d %T:%i:%s')
			</if>
			<if test="endTime!='' and endTime!=null">
				<!-- and inputtime&lt;=#{endTime} -->
				and DATE_FORMAT(#{endTime}, '%Y-%m-%d %T:%i:%s') >= DATE_FORMAT(inputtime, '%Y-%m-%d %T:%i:%s')
			</if>
			<if test="annt!='' and annt!=null">
				and annt=#{annt}
			</if>
			<if test='pname!="0"'>
				and pname=#{pname}
			</if>
	</select>	
	
	<!-- 根据名字分组查询 -->
	<select id="selectInByName"  resultType="input">
		select name,sum(pcount) pcount,sum(price) price from t_input group by name desc
	</select>
	
	<select id="findById" parameterType="Integer" resultType="input">
		select * from t_input where id=#{id}
	</select>
	
	<!-- 删除数据（实际开发中） -->
	<insert id="deleteInput" parameterType="Integer">
		delete from t_input where id=#{id}
	</insert>
	
	<insert id="updateInputByName" parameterType="input">
		update t_input set pcount=#{pcount},dprice=#{dprice},
		price=#{price},annt=#{annt},pname=#{pname},inputtime=#{inputtime}
		where name=#{name}
	</insert>
</mapper>